global-include *.pyx
global-include *.pxi
global-include *.c
global-include *.h
global-exclude *.o
global-exclude *.so
global-exclude *.md
include pyproject.toml
exclude .gitignore
exclude .gitattributes
exclude c_example/*
exclude tests/*
prune tests/*
exclude docs/*
prune docs/*
exclude include/*
prune include/*
exclude approxcdf/cpp_wrapper.h
exclude src/Rwrapper.cpp
exclude src/c_wrapper.cpp
exclude src/approxcdf-win.def
